.catalog-more {
  @include bm;
}

.catalog-more__container {
  @include bm;
  @include container (320px, 20px, 20px);
}

.catalog-more__title {
  @include bm;
  margin-top: 29px;
  @include or;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

@media (min-width: $tablet) {
  .catalog-more {
    @include bm;
  }
  
  .catalog-more__container {
    @include bm;
    @include container (768px, 30px, 30px);
  }
  
  .catalog-more__title {
    position: relative;
    @include bm;
    margin-top: 68px;
    margin-left: 38px;
    @include or;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -80px;
      top: 22px;
      width: 40px;
      height: 3px;
      background-color: $green;
    }
    &::after {
      display: block;
      position: absolute;
      content: "";
      left: 373px;
      top: 22px;
      width: 330px;
      height: 3px;
      background-color: $green;
    }
  }
}

@media (min-width: $desktop) {
  .catalog-more {
    @include bm;
  }
  
  .catalog-more__container {
    @include bm;
    @include container (1300px, 40px, 40px);
  }
  
  .catalog-more__title {
    position: relative;
    @include bm;
    margin-top: 71px;
    margin-left: 0px;
    @include or;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -80px;
      top: 22px;
      width: 40px;
      height: 3px;
      background-color: $green;
    }
    &::after {
      display: block;
      position: absolute;
      content: "";
      left: 372px;
      top: 22px;
      width: 910px;
      height: 3px;
      background-color: $green;
    }
  }
}