.catalog {
  @include bm;
}

.catalog__container {
  @include bm;
  @include container(320px, 20px, 20px);
}

.catalog__title {
  @include bm;
  @include or;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.catalog__items {
  @include bm;
  @include nolist;
}

.catalog__item {
  position: relative;
  @include bm;
  min-height: 210px;

  &::before {
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #ededed;
  }
}

.catalog__img {
  @include bm;
}

.catalog__text {
  @include bm;
}

.catalog__btn {
  @include bm;
  width: 280px;
  @include or;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  text-decoration: none;
}
