.diatprogramms {
  @include bm;
}

.diatprogramms__container {
  @include bm;
  display: flex;
  flex-direction: column;

  @include container(320px, 20px, 20px);
}

.diatprogramm {
  @include bm;
  margin-top: 22px;
  width: 280px;
  min-height: 266px;
  background-color: $light-gray;

  &:nth-child(2) {
    margin-top: 20px;
  }
}

.diatprogramms__title {
  position: relative;

  @include bm;
  padding-top: 30px;
  padding-left: 91px;

  @include or;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;

  &--cat-slim {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 22px;
      top: 25px;
      width: 50px;
      height: 50px;
      background-color: $green;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      left: 30px;
      top: 23px;
      width: 35px;
      height: 49px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--cat-pro {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 22px;
      top: 25px;
      width: 50px;
      height: 50px;
      background-color: $green;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      left: 13px;
      top: 35px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.diatprogramms__text {
  position: relative;

  @include bm;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 23px;

  @include a;
  color: $light-black;

  &::after {
    position: absolute;
    content: "";
    bottom: -23px;
    left: 20px;
    width: 240px;
    height: 1px;
    background-color: $light-gray-two;
  }
}

.diatprogramms__catalog-link {
  position: relative;

  @include bm;
  padding-top: 42px;
  padding-left: 20px;

  @include or;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:focus {
    opacity: 0.3;
  }

  &--slim {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 46px;
      left: 117px;
      width: 24px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      &::after {
        position: absolute;
        content: "";
        top: 45px;
        left: 117px;
        width: 33px;
        height: 11px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-repeat: no-repeat;
      }
    }

    &:focus {
      opacity: 0.3;
    }
  }

  &--pro {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 46px;
      left: 115px;
      width: 24px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      &::after {
        position: absolute;
        content: "";
        top: 45px;
        left: 115px;
        width: 33px;
        height: 11px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-repeat: no-repeat;
      }
    }

    &:focus {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet) {
  .diatprogramms {
    @include bm;
  }

  .diatprogramms__container {
    @include bm;
    display: flex;
    flex-direction: column;

    @include container(768px, 30px, 30px);
  }

  .diatprogramm {
    @include bm;
    margin-top: 0;
    width: 708px;
    min-height: 372px;
    background-color: $light-gray;

    &:nth-child(2) {
      margin-top: 30px;
      padding-right: 35px;
    }
  }

  .diatprogramms__title {
    position: relative;

    @include bm;
    padding-top: 76px;
    padding-left: 54px;

    @include or;
    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
    color: $black;

    &--cat-slim {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 446px;
        top: 92px;
        width: 200px;
        height: 200px;
        background-color: $green;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: "";
        left: 476px;
        top: 80px;
        width: 140px;
        height: 194px;
        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
      }
    }

    &--cat-pro {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 448px;
        top: 91px;
        width: 200px;
        height: 200px;
        background-color: $green;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: "";
        left: 412px;
        top: 135px;
        width: 268px;
        height: 112px;
        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .diatprogramms__text {
    position: relative;

    @include bm;
    padding-top: 25px;
    padding-left: 52px;
    padding-right: 280px;

    @include a;
    color: $light-black;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      display: none;
      content: "";
      bottom: -23px;
      left: 20px;
      width: 240px;
      height: 1px;
      background-color: $light-gray-two;
    }
  }

  .diatprogramms__catalog-link {
    position: relative;

    @include bm;
    display: inline-flex;
    padding-top: 57px;
    padding-left: 52px;

    @include or;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &:focus {
      opacity: 0.3;
    }

    &--slim {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 63px;
        left: 184px;
        width: 24px;
        height: 11px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-repeat: no-repeat;
      }

      &:hover {
        &::after {
          position: absolute;
          content: "";
          top: 61px;
          left: 184px;
          width: 33px;
          height: 11px;
          background-image: url("../img/icon-right-arrow-verylong.svg");
          background-repeat: no-repeat;
        }
      }

      &:focus {
        opacity: 0.3;
      }
    }

    &--pro {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 62px;
        left: 178px;
        width: 24px;
        height: 11px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-repeat: no-repeat;
      }

      &:hover {
        &::after {
          position: absolute;
          content: "";
          top: 61px;
          left: 178px;
          width: 33px;
          height: 11px;
          background-image: url("../img/icon-right-arrow-verylong.svg");
          background-repeat: no-repeat;
        }
      }

      &:focus {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop) {
  .diatprogramms {
    @include bm;
    margin-top: 80px;
  }

  .diatprogramms__container {
    @include bm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include container(1300px, 40px, 40px);
  }

  .diatprogramm {
    @include bm;
    margin-top: 0;
    width: 570px;
    min-height: 372px;
    background-color: $light-gray;

    &:nth-child(2) {
      margin-top: 0;
      padding-right: 0;
    }
  }

  .diatprogramms__title {
    position: relative;

    @include bm;
    padding-top: 76px;
    padding-left: 215px;

    @include or;
    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
    color: $black;

    &--cat-slim {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 52px;
        top: 47px;
        width: 100px;
        height: 100px;
        background-color: $green;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: "";
        left: 66px;
        top: 40px;
        width: 70px;
        height: 97px;
        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
      }
    }

    &--cat-pro {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 52px;
        top: 47px;
        width: 100px;
        height: 100px;
        background-color: $green;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: "";
        left: 34px;
        top: 69px;
        width: 134px;
        height: 56px;
        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .diatprogramms__text {
    position: relative;

    @include bm;
    padding-top: 75px;
    padding-left: 52px;
    padding-right: 30px;

    @include a;
    color: $light-black;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      display: none;
      content: "";
      bottom: -23px;
      left: 20px;
      width: 240px;
      height: 1px;
      background-color: $light-gray-two;
    }
  }

  .diatprogramms__catalog-link {
    position: relative;

    @include bm;
    display: inline-flex;
    margin-top: 30px;
    margin-left: 52px;
    padding-top: 0;
    padding-left: 0;

    @include or;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &:focus {
      opacity: 0.3;
    }

    &--slim {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 5px;
        left: 131px;
        width: 24px;
        height: 11px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-repeat: no-repeat;
      }

      &:hover {
        &::after {
          position: absolute;
          content: "";
          top: 4px;
          left: 131px;
          width: 33px;
          height: 11px;
          background-image: url("../img/icon-right-arrow-verylong.svg");
          background-repeat: no-repeat;
        }
      }

      &:focus {
        opacity: 0.3;
      }
    }

    &--pro {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 6px;
        left: 126px;
        width: 24px;
        height: 11px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-repeat: no-repeat;
      }

      &:hover {
        &::after {
          position: absolute;
          content: "";
          top: 5px;
          left: 126px;
          width: 33px;
          height: 11px;
          background-image: url("../img/icon-right-arrow-verylong.svg");
          background-repeat: no-repeat;
        }
      }

      &:focus {
        opacity: 0.3;
      }
    }
  }
}
