.example {
  @include bm;
  margin-top: 46px;
  background-color: $light-gray;
}

.example__container {
  @include bm;
  @include container(320px, 20px, 20px);
  min-height: 705px;
}

.exapmle__info {
  @include bm;
}

.example__slide {
  @include bm;
}

@media (min-width: $tablet) {
  .example {
    @include bm;
    margin-top: 25px;
    background-color: $light-gray;
    background: none;
  }
  
  .example__container {
    @include bm;
    @include container(768px, 30px, 30px);
    min-height: 740px;
    border-top: 1px solid $gray;
  }
  
  .exapmle__info {
    @include bm;
  }
  
  .example__slide {
    @include bm;
  }
}
