.extra-info {
  @include bm;
}

.extra-info__title {
  position: relative;

  @include bm;
  margin-top: 28px;

  @include or;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 14px;
    right: -284px;
    width: 400px;
    height: 3px;
    background-color: $green;
  }
}

.extra-info__options {
  @include bm;
  @include nolist;
  margin-top: 41px;
}

.extra-info__option {
  @include bm;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.extra-info__option-input {
  @include bm;
}

.extra-info__option-input[type="checkbox"] {
  display: none;
}

.extra-info__option-input[type="checkbox"] + .extra-info__option-name {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $light-gray-eight;
  }

  &:hover {
    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid $light-gray-seven;
    }
  }
}

.extra-info__option-input[type="checkbox"]:checked + .extra-info__option-name {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $light-gray-eight;
    background-image: url("../img/icon-tick--green.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 16px;
  }

  &:hover {
    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid $light-gray-seven;
      background-image: url("../img/icon-tick--green.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 21px 16px;
    }
  }
}

.extra-info__option-name {
  @include bm;
  padding-left: 46px;

  @include or;
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.extra-info__option-name:focus {
  position: relative;
  outline: none;

  &::before {
    display: block;
    position: absolute;
    content: "";
    outline: 2px solid $color-outline;
  }
}

@media (min-width: $tablet) {
  .extra-info {
    @include bm;
  }

  .extra-info__title {
    position: relative;

    @include bm;
    margin-top: 65px;

    @include or;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    z-index: 20;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -2000px;
      top: 23px;
      width: 5000px;
      height: 3px;
      background-color: $green;
      z-index: -1;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      left: -40px;
      top: 23px;
      width: 293px;
      height: 6px;
      background-color: $white;
      z-index: -1;
    }
  }

  .extra-info__options {
    @include nolist;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 68px;
  }

  .extra-info__option {
    @include bm;
    display: flex;
    flex-direction: row;
    width: 286px;
    margin-bottom: 51px;
  }

  .extra-info__option-input {
    @include bm;
  }

  .extra-info__option-input[type="checkbox"] {
    display: none;
  }

  .extra-info__option-input[type="checkbox"] + .extra-info__option-name {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 1px;
      width: 40px;
      height: 40px;
      border: 1px solid $light-gray-eight;
    }

    &:hover {
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        left: 1px;
        width: 40px;
        height: 40px;
        border: 1px solid $light-gray-seven;
      }
    }
  }

  .extra-info__option-input[type="checkbox"]:checked + .extra-info__option-name {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 1px;
      width: 40px;
      height: 40px;
      border: 1px solid $light-gray-eight;
      background-image: url("../img/icon-tick--green.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 21px 16px;
    }

    &:hover {
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        left: 1px;
        width: 40px;
        height: 40px;
        border: 1px solid $light-gray-seven;
        background-image: url("../img/icon-tick--green.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 16px;
      }
    }
  }

  .extra-info__option-name {
    @include bm;
    padding-left: 59px;

    @include or;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $light-black;
    text-transform: uppercase;

    &:active {
      opacity: 0.3;
    }
  }

  .extra-info__option-name:focus {
    position: relative;
    outline: none;

    &::before {
      display: block;
      position: absolute;
      content: "";
      outline: 2px solid $color-outline;
    }
  }
}

@media (min-width: $desktop) {
  .extra-info {
    @include bm;
  }

  .extra-info__title {
    position: relative;

    @include bm;
    margin-top: 67px;

    @include or;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    z-index: 20;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -2000px;
      top: 22px;
      width: 5000px;
      height: 3px;
      background-color: $green;
      z-index: -1;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      left: -42px;
      top: 22px;
      width: 293px;
      height: 6px;
      background-color: $white;
      z-index: -1;
    }
  }

  .extra-info__options {
    @include nolist;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin-top: 66px;
  }

  .extra-info__option {
    @include bm;
    display: flex;
    flex-direction: row;
    width: 245px;
    margin-bottom: 51px;
  }

  .extra-info__option-input {
    @include bm;
  }

  .extra-info__option-input[type="checkbox"] {
    display: none;
  }

  .extra-info__option-input[type="checkbox"] + .extra-info__option-name {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 1px;
      width: 40px;
      height: 40px;
      border: 1px solid $light-gray-eight;
    }

    &:hover {
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        left: 1px;
        width: 40px;
        height: 40px;
        border: 1px solid $light-gray-seven;
      }
    }
  }

  .extra-info__option-input[type="checkbox"]:checked + .extra-info__option-name {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 1px;
      width: 40px;
      height: 40px;
      border: 1px solid $light-gray-eight;
      background-image: url("../img/icon-tick--green.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 21px 16px;
    }

    &:hover {
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        left: 1px;
        width: 40px;
        height: 40px;
        border: 1px solid $light-gray-seven;
        background-image: url("../img/icon-tick--green.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 16px;
      }
    }
  }

  .extra-info__option-name {
    @include bm;
    padding-left: 57px;

    @include or;
    font-size: 20px;
    line-height: 20px;
    color: $light-black;
    text-transform: uppercase;

    &:active {
      opacity: 0.3;
    }
  }

  .extra-info__option-name:focus {
    position: relative;
    outline: none;

    &::before {
      display: block;
      position: absolute;
      content: "";
      outline: 2px solid $color-outline;
    }
  }
}
