.goods {
  @include bm;
}

.goods__items {
  @include bm;
  @include nolist;
  margin-top: 34px;
}

.goods__item {
  position: relative;
  @include bm;
  display: flex;
  flex-wrap: wrap;
  height: 129px;
  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: $light-gray-3;
  }
  &::after {
    display: block;
    position: absolute;
    content: "";
    bottom: -1px;
    width: 280px;
    height: 1px;
    background-color: $light-gray-3;
  }
}

.goods__name {
  @include bm;
  width: 280px;
  margin-top: 8px;
  @include or;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
}

.goods__volume {
  @include bm;
  margin-top: -5px;
  @include a;
  font-size: 14px;
  line-height: 14px;
}

.goods__price {
  @include bm;
  margin-top: -5px;
  margin-left: auto;
  @include a;
  font-size: 14px;
  line-height: 14px;
}

.goods__btn {
  @include bm;
  width: 280px;
  height: 40px;
  margin-top: -2px;
  padding: 9px 0;
  @include or;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  background-color: $bg-green;

  &:hover {
    background-color: $bg-green-hover;
  }

  &:focus {
    color: $bg-green-focus;
  }
}

.goods__gift {
  @include bm;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 289px;
  margin-top: 40px;
  margin-bottom: 64px;
  padding: 0px 40px;
  @include a;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  &:hover {
    opacity: 0.95;
  }
}

.goods__gift-icon {
  width: 55px;
  height: 60px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 61px;
  fill: $white;
}

@media (min-width: $tablet) {
  .goods {
    @include bm;
  }
  
  .goods__items {
    @include bm;
    @include nolist;
  }
  
  .goods__item {
    @include bm;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 708px;
    min-height: 140px;
    margin-bottom: 1px;
    outline: 1px solid $gray;
  }
  
  .goods__name {
    @include bm;
    width: 286px;
    @include or;
    font-size: 16px;
    line-height: 26px;
    color: $black;
  }
  
  .goods__volume {
    @include bm;
    @include a;
    font-size: 14px;
    line-height: 14px;
  }
  
  .goods__price {
    @include bm;
    margin-left: auto;
    @include a;
    font-size: 14px;
    line-height: 14px;
  }
  
  .goods__btn {
    @include bm;
    width: 630px;
    margin: 0 auto;
    margin-top: 3px;
    padding: 11.5px 0;
    @include or;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    background-color: $bg-green;
  
    &:hover {
      background-color: $bg-green-hover;
    }
  
    &:focus {
      color: $bg-green-focus;
    }
  }
  
  .goods__gift {
    @include bm;
    display: flex;
    flex-direction: row;
    width: 708px;
    min-height: 200px;
    padding: 0px 49px;
    @include a;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-align: center;
    background-image:
      url("../img/gift-photo-tablet@1x.jpg");
  }
  
  .goods__gift-icon {
    width: 55px;
    height: 60px;
    margin: 0 auto;
    fill: $white;
  }
  
}

@media (min-width: $desktop) {
  .goods {
    @include bm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .goods__items {
    @include bm;
    @include nolist;
  }
  
  .goods__item {
    @include bm;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 895px;
    min-height: 72px;
    margin-bottom: 1px;
    outline: 1px solid $gray;
  }
  
  .goods__name {
    @include bm;
    width: 325px;
    @include or;
    font-size: 16px;
    line-height: 26px;
    color: $black;
  }
  
  .goods__volume {
    @include bm;
    width: 245px;
    @include a;
    font-size: 14px;
    line-height: 14px;
  }
  
  .goods__price {
    @include bm;
    width: 80px;
    margin-left: auto;
    @include a;
    font-size: 14px;
    line-height: 14px;
  }
  
  .goods__btn {
    @include bm;
    width: 245px;
    margin: 0 auto;
    margin-top: 3px;
    padding: 11.5px 0;
    @include or;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    background-color: $bg-green;
  
    &:hover {
      background-color: $bg-green-hover;
    }
  
    &:focus {
      color: $bg-green-focus;
    }
  }
  
  .goods__gift {
    @include bm;
    display: flex;
    flex-direction: row;
    width: 245px;
    min-height: 289px;
    padding: 0px 49px;
    @include a;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-align: center;
    background-image:
      url("../img/gift-photo-desktop@1x.jpg");
  }
  
  .goods__gift-icon {
    width: 55px;
    height: 60px;
    margin: 0 auto;
    fill: $white;
  }
  
}