.main-header {
  position: relative;

  @include bm;
  padding-top: 66px;
}

.main-header--pt {
  padding-top: 265px;
}

.main-header__container {
  position: relative;

  @include bm;
  @include container(320px, 20px, 20px);
  background-image:
    url("../img/index-background-mobile@1x.webp"),
    url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    background-image:
      url("../img/index-background-mobile@2x.webp"),
      url("../img/index-background-mobile@2x.jpg");
    background-position: 0 0;
    background-size: 320px 305px;
    background-repeat: no-repeat;
  }
}

.main-header__btn-menu {
  position: absolute;

  @include bm;
  top: 23px;
  left: 276px;
  width: 24px;
  height: 18px;
  margin-top: -66px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-header__btn-menu--pt {
  margin-top: -265px;
}

.main-header__btn-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $black;

  &:nth-child(1) {
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    top: 8px;
    left: 0;
  }

  &:nth-child(3) {
    top: 16px;
    left: 0;
  }
}

.main-header__btn-menu--open .main-header__btn-line:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.main-header__btn-menu--open .main-header__btn-line:nth-child(3) {
  opacity: 0;
}

.main-header__btn-menu--open .main-header__btn-line:nth-child(4) {
  transform: translateY(8px) rotate(45deg);
}

.main-header__btn-menu--hidden {
  display: block;
}

.main-header__text {
  @include bm;
}

.main-header__photo {
  @include bm;
  width: 280px;
  height: 270px;
  margin-top: 29px;
}

.main-header__btn {
  @include bm;
  width: 280px;
  margin-top: 3px;
  padding: 11.5px 0;

  @include or;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  background-color: $bg-green;

  &:hover {
    background-color: $bg-green-hover;
  }

  &:focus {
    color: $bg-green-focus;
  }
}

@media (min-width: $tablet) {
  .main-header {
    position: relative;

    @include bm;
    padding-top: 66px;
  }

  .main-header--pt {
    padding-top: 265px;
  }

  .main-header__container {
    position: relative;

    @include bm;
    @include container(768px, 30px, 30px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
  }

  .main-header__btn-menu {
    position: absolute;

    @include bm;
    top: 23px;
    left: 276px;
    width: 24px;
    height: 18px;
    margin-top: -66px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .main-header__btn-menu--pt {
    margin-top: -265px;
  }

  .main-header__btn-menu--hidden {
    display: none;
  }

  .main-header__btn-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 8px;
      left: 0;
    }

    &:nth-child(3) {
      top: 16px;
      left: 0;
    }
  }

  .main-header__btn-menu--open .main-header__btn-line:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
  }

  .main-header__btn-menu--open .main-header__btn-line:nth-child(3) {
    opacity: 0;
  }

  .main-header__btn-menu--open .main-header__btn-line:nth-child(4) {
    transform: translateY(8px) rotate(45deg);
  }

  .main-header__text {
    @include bm;
  }

  .main-header__photo {
    @include bm;
    width: 709px;
    height: 609px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .main-header__btn {
    position: absolute;

    @include bm;
    width: 245px;
    margin-top: 303px;
    margin-left: 89px;
    padding: 16px 0;

    @include or;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    background-color: $bg-green;

    &:hover {
      background-color: $bg-green-hover;
    }

    &:focus {
      color: $bg-green-focus;
    }
  }
}

@media (min-width: $desktop) {
  .main-header {
    position: relative;

    @include bm;
    min-height: 696px;
    padding-top: 66px;

    &--catalog {
      min-height: 120px;
      background: none;
    }

    &--form {
      min-height: 120px;
      background: none;
    }

    &--bg-green {
      position: relative;
      overflow-x: hidden;

      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        right: -51vw;
        width: 100vw;
        height: 696px;
        background-color: $green-one;
        z-index: -2;
      }
    }
  }

  .main-header--pt {
    padding-top: 265px;
  }

  .main-header__container {
    position: relative;

    @include bm;
    @include container(1300px, 40px, 40px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;

    &::after {
      position: absolute;

      @include bm;
      content: "";
      top: -66px;
      right: -69px;
      width: 720px;
      height: 696px;
      background-image:
        url("../img/index-background-desktop@1x.webp"),
        url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      z-index: -1;
    }

    @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
      &::after {
        position: absolute;

        @include bm;
        content: "";
        top: -66px;
        right: -69px;
        width: 720px;
        height: 696px;
        background-image:
          url("../img/index-background-desktop@2x.webp"),
          url("../img/index-background-desktop@2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
    }

    &--catalog {
      &::after {
        display: none;
      }
    }

    &--form {
      &::after {
        display: none;
      }
    }
  }

  .main-header__btn-menu {
    position: absolute;

    @include bm;
    top: 23px;
    left: 276px;
    width: 24px;
    height: 18px;
    margin-top: -66px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .main-header__btn-menu--pt {
    margin-top: -265px;
  }

  .main-header__btn-menu--hidden {
    display: none;
  }

  .main-header__btn-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 8px;
      left: 0;
    }

    &:nth-child(3) {
      top: 16px;
      left: 0;
    }
  }

  .main-header__btn-menu--open .main-header__btn-line:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
  }

  .main-header__btn-menu--open .main-header__btn-line:nth-child(3) {
    opacity: 0;
  }

  .main-header__btn-menu--open .main-header__btn-line:nth-child(4) {
    transform: translateY(8px) rotate(45deg);
  }

  .main-header__text {
    @include bm;
  }

  .main-header__photo {
    @include bm;
    width: 552px;
    height: 499px;
    margin-top: -261px;
    margin-left: 450px;
  }

  .main-header__btn {
    position: absolute;

    @include bm;
    width: 245px;
    margin-top: 390px;
    margin-left: 80px;
    padding: 16px 0;

    @include or;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    background-color: $bg-green;

    &:hover {
      background-color: $bg-green-hover;
    }

    &:focus {
      color: $bg-green-focus;
    }
  }

  @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
    .main-header__btn {
      position: absolute;

      @include bm;
      width: 245px;
      margin-top: 50px;
      margin-left: -923px;
      padding: 16px 0;

      @include or;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      text-decoration: none;
      background-color: $bg-green;

      &:hover {
        background-color: $bg-green-hover;
      }

      &:focus {
        color: $bg-green-focus;
      }
    }
  }
}
