.main-header {
  @include bm;
}

.main-header__container {
  position: relative;
}

.logo {
  @include bm;
  padding-top: 11px;
  padding-bottom: 16px;
  background-color: $white;
}

.logo__link {
  @include size(190px, 40px);
  @include bm;
}

.main-header__btn-menu {
  position: absolute;
  @include bm;
  width: 24px;
  height: 18px;
  right: 0;
  top: 0;
  background: transparent;
  background: linear-gradient(to bottom,
      $white 45%, $black 45% 55%, $white 55%);
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }
}
