.main-footer {
  @include bm;
  min-height: 235px;
  background-color: $light-gray;
}

.main-footer__container {
  @include bm;
  @include container(320px, 20px, 20px);
}

.main-footer__logo {
  @include bm;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding-top: 43px;

  &--active {
    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.6;
    }
  }
}

.main-footer__academy {
  @include bm;
}

@media (min-width: $tablet) {
  .main-footer {
    @include bm;
    min-height: 150px;
    padding-top: 60px;
    background-color: $light-gray;
  }

  .main-footer__container {
    @include bm;
    @include container(768px, 30px, 30px);
    display: flex;
    justify-content: space-between;
  }

  .main-footer__logo {
    @include bm;
    width: 128px;
    height: 24px;
    margin: 0;

    &--active {
      &:hover {
        opacity: 0.8;
      }

      &:focus {
        opacity: 0.6;
      }
    }
  }

  .main-footer__academy {
    @include bm;
  }
}

@media (min-width: $desktop) {
  .main-footer {
    @include bm;
    min-height: 150px;
    padding-top: 64px;
    background-color: $light-gray;
  }

  .main-footer__container {
    @include bm;
    @include container(1300px, 40px, 40px);
    display: flex;
    justify-content: space-between;
  }

  .main-footer__logo {
    @include bm;
    width: 128px;
    height: 24px;
    margin: 0;

    &--active {
      &:hover {
        opacity: 0.8;
      }

      &:focus {
        opacity: 0.6;
      }
    }
  }

  .main-footer__academy {
    @include bm;
  }
}
