.main-nav {
  position: absolute;

  @include bm;
  display: none;
  width: 320px;
  margin-top: -200px;
  background-color: $white;
}

.main-nav--visible {
  display: block;
}

.main-nav__items {
  @include bm;
  @include nolist;
}

.main-nav__item {
  position: relative;

  @include bm;

  &::after {
    position: absolute;
    content: "";
    left: -20px;
    top: 0;
    width: 320px;
    height: 1px;
    border-top: 1px solid $gray;
  }
}

.main-nav__link {
  @include bm;
  @include nolist;
  margin-right: 40px;
  padding-top: 23px;
  padding-bottom: 23px;

  @include om;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &--active-index {
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $black;
      cursor: default;
      opacity: 1;
    }
  }

  &--active-catalog {
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $black;
      cursor: default;
      opacity: 1;
    }
  }

  &--active-form {
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $black;
      cursor: default;
      opacity: 1;
    }
  }
}

@media (min-width: $tablet) {
  .main-nav {
    position: relative;

    @include bm;
    display: block;
    width: 440px;
    margin-top: -24px;
    margin-left: auto;
    background-color: $white;
  }

  .main-nav--visible {
    display: block;
  }

  .main-nav__items {
    @include bm;
    @include nolist;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: -20px;
      top: 0;
      width: 0;
      height: 1px;
      border-top: 1px solid $gray;
      border: none;
      display: none;
    }
  }

  .main-nav__link {
    @include bm;
    @include nolist;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include or;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    color: $black;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }

    &--active-index {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -9px;
        left: 1px;
        width: 62px;
        height: 2px;
        background-color: $green;
      }

      &:hover {
        list-style: none;
        text-decoration: none;
        color: $black;
        cursor: default;
        opacity: 1;
      }
    }

    &--active-catalog {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -9px;
        left: -1px;
        width: 152px;
        height: 2px;
        background-color: $green;
      }

      &:hover {
        list-style: none;
        text-decoration: none;
        color: $black;
        cursor: default;
        opacity: 1;
      }
    }

    &--active-form {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -9px;
        left: 2px;
        width: 151px;
        height: 2px;
        background-color: $green;
      }

      &:hover {
        list-style: none;
        text-decoration: none;
        color: $black;
        cursor: default;
        opacity: 1;
      }
    }
  }
}

@media (min-width: $desktop) {
  .main-nav {
    position: relative;

    @include bm;
    display: block;
    width: 480px;
    margin-top: 7px;
    margin-left: auto;
    background-color: transparent;
  }

  .main-nav--visible {
    display: block;
  }

  .main-nav__items {
    @include bm;
    @include nolist;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__item {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: -20px;
      top: 0;
      width: 0;
      height: 1px;
      border-top: 1px solid $gray;
      border: none;
      display: none;
    }
  }

  .main-nav__link {
    @include bm;
    @include nolist;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include or;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    color: $white;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }

    &--active-index {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -10px;
        left: 2px;
        width: 68px;
        height: 2px;
        background-color: $white;
      }

      &:hover {
        list-style: none;
        text-decoration: none;
        color: $white;
        cursor: default;
        opacity: 1;
      }
    }

    &--active-catalog {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -10px;
        left: 2px;
        width: 168px;
        height: 2px;
        background-color: $green;
      }

      &:hover {
        list-style: none;
        text-decoration: none;
        color: $black;
        cursor: default;
        opacity: 1;
      }
    }

    &--active-form {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        width: 169px;
        height: 2px;
        background-color: $green;
      }

      &:hover {
        list-style: none;
        text-decoration: none;
        color: $black;
        cursor: default;
        opacity: 1;
      }
    }

    &--catalog {
      color: $black;
    }

    &--form {
      color: $black;
    }
  }
}
