.owner-info {
  @include bm;
}

.owner-info__title {
  position: relative;

  @include bm;
  margin-top: 55px;

  @include or;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 13px;
    right: -321px;
    width: 400px;
    height: 3px;
    background-color: $green;
  }
}

.owner-info__flieds {
  @include bm;
  @include nolist;
  margin-top: 35px;
}

.owner-info__field {
  @include bm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.owner-info__field-name {
  @include bm;
  @include or;
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
}

.owner-info__field-input {
  @include bm;
  padding: 12px 15px;

  @include or;
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
  border: none;
  outline: 1px solid $gray;

  &--email {
    width: 219px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 186px 14px;
    background-size: 17px 13px;

    &:hover {
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 186px 14px;
      background-size: 17px 13px;
      outline: 1px solid $light-gray-three;
    }

    &:focus {
      background-image: url("../img/icon-mail--green.svg");
      background-repeat: no-repeat;
      background-position: 186px 14px;
      background-size: 17px 13px;
      outline: 2px solid $light-black;

      &:invalid {
        background-image: url("../img/icon-mail--tomato.svg");
        background-repeat: no-repeat;
        background-position: 186px 14px;
        background-size: 17px 13px;
        outline-color: $tomato;
      }
    }
  }

  &--phone {
    width: 204px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 171px 11px;
    background-size: 20px 20px;

    &:hover {
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 171px 11px;
      background-size: 20px 20px;
      outline: 1px solid $light-gray-three;
    }

    &:focus {
      background-image: url("../img/icon-phone--green.svg");
      background-repeat: no-repeat;
      background-position: 171px 11px;
      background-size: 20px 20px;
      outline: 2px solid $light-black;

      &:invalid {
        background-image: url("../img/icon-phone--tomato.svg");
        background-repeat: no-repeat;
        background-position: 171px 11px;
        background-size: 20px 20px;
        outline-color: $tomato;
      }
    }
  }
}

@media (min-width: $tablet) {
  .owner-info {
    @include bm;
  }

  .owner-info__title {
    position: relative;

    @include bm;
    margin-top: 75px;

    @include or;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    z-index: 20;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -2000px;
      top: 21px;
      width: 5000px;
      height: 3px;
      background-color: $green;
      z-index: -1;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      left: -40px;
      top: 21px;
      width: 592px;
      height: 6px;
      background-color: $white;
      z-index: -1;
    }
  }

  .owner-info__flieds {
    @include bm;
    @include nolist;
    margin-top: 76px;
  }

  .owner-info__field {
    @include bm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  .owner-info__field-name {
    @include bm;
    @include or;
    font-size: 20px;
    line-height: 20px;
    color: $light-black;
    text-transform: uppercase;
  }

  .owner-info__field-input {
    @include bm;
    padding: 10px 22px;

    @include or;
    font-size: 20px;
    line-height: 20px;
    color: $light-black;
    text-transform: uppercase;

    &--email {
      width: 549px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 515px 19px;
      background-size: 17px 13px;

      &:hover {
        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: 515px 19px;
        background-size: 17px 13px;
        outline: 1px solid $light-gray-nine;
      }

      &:focus {
        background-image: url("../img/icon-mail--green.svg");
        background-repeat: no-repeat;
        background-position: 515px 19px;
        background-size: 17px 13px;
        outline: 2px solid $light-black;

        &:invalid {
          background-image: url("../img/icon-mail--tomato.svg");
          background-repeat: no-repeat;
          background-position: 515px 19px;
          background-size: 17px 13px;
          outline-color: $tomato;
        }
      }
    }

    &--phone {
      width: 534px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 500px 16px;
      background-size: 20px 20px;

      &:hover {
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: 500px 16px;
        background-size: 20px 20px;
        outline: 1px solid $light-gray-nine;
      }

      &:focus {
        background-image: url("../img/icon-phone--green.svg");
        background-repeat: no-repeat;
        background-position: 500px 16px;
        background-size: 20px 20px;
        outline: 2px solid $light-black;

        &:invalid {
          background-image: url("../img/icon-phone--tomato.svg");
          background-repeat: no-repeat;
          background-position: 500px 16px;
          background-size: 20px 20px;
          outline-color: $tomato;
        }
      }
    }
  }

  @-moz-document url-prefix("") {
    .owner-info__field-input {
      padding: 15px 22px;
    }
  }
}

@media (min-width: $desktop) {
  .owner-info {
    @include bm;
    width: 1220px;
  }

  .owner-info__title {
    position: relative;

    @include bm;
    margin-top: 47px;

    @include or;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    z-index: 20;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -2000px;
      top: 22px;
      width: 5000px;
      height: 3px;
      background-color: $green;
      z-index: -1;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      left: -42px;
      top: 22px;
      width: 594px;
      height: 6px;
      background-color: $white;
      z-index: -1;
    }
  }

  .owner-info__flieds {
    @include nolist;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 76px;
  }

  .owner-info__field {
    @include bm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 570px;
    margin-bottom: 22px;
  }

  .owner-info__field-name {
    @include bm;
    @include or;
    font-size: 20px;
    line-height: 20px;
    color: $light-black;
    text-transform: uppercase;
  }

  .owner-info__field-input {
    @include bm;
    padding: 10px 18px;

    @include or;
    font-size: 20px;
    line-height: 20px;
    color: $light-black;
    text-transform: uppercase;

    &--email {
      width: 485px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 447px 20px;
      background-size: 17px 13px;

      &:hover {
        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: 447px 20px;
        background-size: 17px 13px;
        outline: 1px solid $light-gray-nine;
      }

      &:focus {
        background-image: url("../img/icon-mail--green.svg");
        background-repeat: no-repeat;
        background-position: 447px 20px;
        background-size: 17px 13px;
        outline: 2px solid $light-black;

        &:invalid {
          background-image: url("../img/icon-mail--tomato.svg");
          background-repeat: no-repeat;
          background-position: 447px 20px;
          background-size: 17px 13px;
          outline-color: $tomato;
        }
      }
    }

    &--phone {
      width: 470px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 430px 17px;
      background-size: 20px 20px;

      &:hover {
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: 430px 17px;
        background-size: 20px 20px;
      }

      &:focus {
        background-image: url("../img/icon-phone--green.svg");
        background-repeat: no-repeat;
        background-position: 430px 17px;
        background-size: 20px 20px;
        outline: 2px solid $light-black;

        &:invalid {
          background-image: url("../img/icon-phone--tomato.svg");
          background-repeat: no-repeat;
          background-position: 430px 17px;
          background-size: 20px 20px;
          outline-color: $tomato;
        }
      }
    }
  }

  @-moz-document url-prefix("") {
    .owner-info__field-input {
      padding: 15px 18px;
    }
  }
}
