.programm {
  @include bm;
  margin-bottom: 60px;
  overflow-x: hidden;
}

.programm__container {
  @include bm;
  @include container(320px, 20px, 20px);
}

.programm__title {
  @include bm;
  margin-top: 15px;

  @include or;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.programm__text {
  @include bm;
  margin-top: 26px;
  padding-right: 20px;

  @include or;
  font-size: 14px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
}

.programm__form {
  @include bm;
}

@media (min-width: $tablet) {
  .programm {
    @include bm;
    overflow-x: hidden;
  }

  .programm__container {
    @include bm;
    @include container(768px, 30px, 30px);
  }

  .programm__title {
    @include bm;
    margin-top: 57px;

    @include or;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  .programm__text {
    @include bm;
    margin-top: 55px;
    padding-left: 40px;
    padding-right: 300px;

    @include or;
    font-size: 20px;
    line-height: 30px;
    color: $light-black;
    text-transform: uppercase;
  }

  .programm__form {
    @include bm;
  }
}

@media (min-width: $desktop) {
  .programm {
    @include bm;
    overflow-x: hidden;
  }

  .programm__container {
    @include bm;
    @include container (1300px, 40px, 40px);
  }

  .programm__title {
    @include bm;
    margin-top: 67px;

    @include or;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  .programm__text {
    @include bm;
    margin-top: 57px;
    padding-left: 0;
    padding-right: 850px;

    @include or;
    font-size: 20px;
    line-height: 30px;
    color: $light-black;
    text-transform: uppercase;
  }

  .programm__form {
    @include bm;
  }
}
