.slide-example__photo {
  @include bm;

  &--before {
    @include bm;
    margin-top: 34px;
    margin-left: -20px;
  }

  &--after {
    @include bm;
    margin-top: 34px;
    margin-left: -20px;
    display: none;
  }
}

.slide-example__photo--visible {
  display: block;
}

.slide-example__photo--invisible {
  display: none;
}

.slide-example__toggles {
  @include bm;
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.slide-example__indicator {
  position: relative;

  @include bm;
  width: 85px;
  height: 14px;
  margin-top: 3px;
  margin-left: 5px;
  border: 1px solid $light-gray-three;
  border-radius: 10px;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 6px;
    width: 35px;
    height: 6px;
    background-color: $green;
    border-radius: 10px;
  }
}

.slide-example__indicator--on {
  position: relative;

  @include bm;
  width: 85px;
  height: 14px;
  margin-top: 3px;
  margin-left: 5px;
  border: 1px solid $light-gray-three;
  border-radius: 10px;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 42px;
    width: 35px;
    height: 6px;
    background-color: $green;
    border-radius: 10px;
  }
}

.slide-example__handle {
  display: none;
}

.slide-example__toggle {
  @include bm;
  @include or;
  font-size: 16px;
  line-height: 20px;
  margin-left: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--before {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: 57px;
      width: 42px;
      height: 20px;
      z-index: 10;
    }
  }

  &--after {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -57px;
      width: 42px;
      height: 20px;
      z-index: 10;
    }
  }
}

@media (min-width: $tablet) {
  .slide-example__photo {
    @include bm;

    &--before {
      @include bm;
      margin-top: 91px;
      margin-left: 16px;
    }

    &--after {
      @include bm;
      margin-top: 90px;
      margin-left: 16px;
      display: none;
    }
  }

  .slide-example__toggles {
    @include bm;
    display: flex;
    justify-content: space-between;

    width: 572px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .slide-example__indicator {
    position: relative;

    @include bm;
    display: none;
    width: 85px;
    height: 14px;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid $light-gray-three;
    border-radius: 10px;

    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 6px;
      width: 35px;
      height: 6px;
      background-color: $green;
      border-radius: 10px;
    }
  }

  .slide-example__handle {
    position: relative;

    @include bm;
    width: 432px;
    height: 6px;
    margin-top: 6px;
    background-color: $light-gray-three;
    border-radius: 10px;
  }

  .slide-example__handle-btn {
    display: block;

    @include bm;
    position: absolute;
    top: -13px;
    left: 202px;
    width: 33px;
    height: 33px;
    background-color: $green;
    border: 12px solid $white;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
    }

    &:focus {
      position: relative;
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);

      &::before {
        display: block;
        position: absolute;
        content: "";
        top: -14px;
        left: -14px;
        width: 37px;
        height: 37px;
        border: 2px solid $green;
        border-radius: 50%;
      }
    }
  }

  .slide-example__toggle {
    position: relative;

    @include bm;
    @include or;
    font-size: 20px;
    line-height: 20px;
    margin-left: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--before {
      position: relative;

      &::before {
        display: none;
        position: absolute;
        content: "";
        left: 57px;
        width: 42px;
        height: 20px;
        z-index: 10;
      }

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -6px;
        width: 45px;
        height: 1px;
        border-bottom: 1px dotted $light-gray-seven;
      }
    }

    &--after {
      position: relative;

      &::before {
        display: none;
        position: absolute;
        content: "";
        left: -57px;
        width: 42px;
        height: 20px;
        z-index: 10;
      }

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -6px;
        width: 49px;
        height: 1px;
        border-bottom: 1px dotted $light-gray-seven;
      }
    }
  }
}

@media (min-width: $desktop) {
  .slide-example__photo {
    @include bm;

    &--before {
      @include bm;
      margin-top: 45px;
      margin-left: 135px;
    }

    &--after {
      @include bm;
      margin-top: 90px;
      margin-left: 16px;
      display: none;
    }

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .slide-example__toggles {
    @include bm;
    display: flex;
    justify-content: space-between;

    width: 572px;
    margin: 0;
    margin-left: 213px;
    margin-top: 40px;
  }

  .slide-example__indicator {
    position: relative;

    @include bm;
    display: none;
    width: 85px;
    height: 14px;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid $light-gray-three;
    border-radius: 10px;

    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 6px;
      width: 35px;
      height: 6px;
      background-color: $green;
      border-radius: 10px;
    }
  }

  .slide-example__handle {
    position: relative;

    @include bm;
    width: 432px;
    height: 6px;
    margin-top: 6px;
    background-color: $light-gray-six;
    border-radius: 10px;
  }

  .slide-example__handle-btn {
    display: block;

    @include bm;
    position: absolute;
    top: -13px;
    left: 202px;
    width: 33px;
    height: 33px;
    background-color: $green;
    border: 12px solid $white;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
    }

    &:focus {
      position: relative;
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);

      &::before {
        display: block;
        position: absolute;
        content: "";
        top: -14px;
        left: -14px;
        width: 37px;
        height: 37px;
        border: 2px solid $green;
        border-radius: 50%;
      }
    }
  }

  .slide-example__toggle {
    position: relative;

    @include bm;
    @include or;
    font-size: 20px;
    line-height: 20px;
    margin-left: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--before {
      position: relative;

      &::before {
        display: none;
        position: absolute;
        content: "";
        left: 57px;
        width: 42px;
        height: 20px;
        z-index: 10;
      }

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -6px;
        width: 45px;
        height: 1px;
        border-bottom: 1px dotted $light-gray-seven;
      }

      &:hover {
        &::after {
          display: block;
          position: absolute;
          content: "";
          bottom: -6px;
          width: 45px;
          height: 1px;
          border-bottom: 1px solid $light-gray-seven;
        }
      }

      &:focus {
        &::after {
          border-bottom: none;
        }
      }
    }

    &--after {
      position: relative;

      &::before {
        display: none;
        position: absolute;
        content: "";
        left: -57px;
        width: 42px;
        height: 20px;
        z-index: 10;
      }

      &::after {
        display: block;
        position: absolute;
        content: "";
        bottom: -6px;
        width: 49px;
        height: 1px;
        border-bottom: 1px dotted $light-gray-seven;
      }

      &:hover {
        &::after {
          display: block;
          position: absolute;
          content: "";
          bottom: -6px;
          width: 49px;
          height: 1px;
          border-bottom: 1px solid $light-gray-seven;
        }
      }

      &:focus {
        &::after {
          border-bottom: none;
        }
      }
    }
  }
}
