.slide-example__photo {
  @include bm;
  &--before {
    @include bm;
    margin-top: 34px;
    margin-left: -20px;
  }
  &--after {
    @include bm;
    display: none;
  }
}

.slide-example__toggles {
  @include bm;
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.slide-example__indicator {
  position: relative;
  @include bm;
  width: 85px;
  height: 14px;
  margin-top: 3px;
  margin-left: 5px;
  border: 1px solid $light-gray-3;
  border-radius: 10px;
  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 6px;
    width: 35px;
    height: 6px;
    background-color: $green;
    border-radius: 10px;
  }
}

.slide-example__toggle {
  @include bm;
  @include or;
  font-size: 16px;
  line-height: 20px;
  margin-left: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet) {
  .slide-example__photo {
    @include bm;
    &--before {
      @include bm;
      margin-top: 34px;
      margin-left: -20px;
    }
    &--after {
      @include bm;
      display: none;
    }
  }
  
  .slide-example__toggles {
    @include bm;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slide-example__indicator {
    position: relative;
    @include bm;
    width: 85px;
    height: 14px;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid $light-gray-3;
    border-radius: 10px;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 6px;
      width: 35px;
      height: 6px;
      background-color: $green;
      border-radius: 10px;
    }
  }
  
  .slide-example__toggle {
    @include bm;
    @include or;
    font-size: 16px;
    line-height: 20px;
    margin-left: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
}