@media (min-width: $tablet) {

  .text-catalog {
    @include bm;
    width: 324px;
    // height: 155px;
  }

  .text-catalog__title {
    @include bm;
    margin-top: 0px;
    padding-right: 0px;
    padding: 0 50px;
    @include or;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
  }

  .text-catalog__table {
    @include bm;
    width: 169px;
    margin: 0 auto;
    margin-top: 15px;
    @include a;
    font-size: 16px;
    line-height: 16px;
    color: $light-black;
    border-collapse: collapse;
    border: none;
  }

  .text-catalog__table-body {
    @include bm;
    width: 169px;
  }

  .text-catalog__table-left {
    padding: 0px 0px;
    width: 125px;
    border-bottom: 1px solid $light-gray-3;
  }

  .text-catalog__table-right {
    padding: 7px 0px;
    // padding-left: 140px;
    width: 125px;
    text-align: right;
    border-bottom: 1px solid $light-gray-3;
  }
}