$green: #68b738;
$bg-green: #68b738;
$bg-green-hover: #5eaa2f;
$bg-green-focus: #8fc46e;
$green-one: #64a83b;
$light-gray: #f2f2f2;
$light-gray-two: #d9d9d9;
$light-gray-three: #cdcdcd;
$light-gray-four: #ebebeb;
$light-gray-five: #b9b9b9;
$light-gray-six: #dcdcdc;
$light-gray-seven: #bebebe;
$light-gray-eight: #cfcfcf;
$light-gray-nine: #bcbcbc;
$gray: #e6e6e6;
$black: #000000;
$white: #ffffff;
$light-black: #444444;
$light-black-two: #222222;
$tomato: #ff8282;
$color-outline: #a6c7ff;
