$green: #68b738;
$bg-green: #68b738;
$bg-green-hover: #5eaa2f;
$bg-green-focus: #8fc46e;
$light-gray: #f2f2f2;
$light-gray-2: #d9d9d9;
$light-gray-3: #cdcdcd;
$light-gray-4: #ebebeb;
$light-gray-5: #b9b9b9;
$light-gray-6: #dcdcdc;
$light-gray-7: #bebebe;
$light-gray-8: #cfcfcf;
$gray: #e6e6e6;
$black: #000000;
$white: #ffffff;
$light-black: #444444;
$light-black-2: #222222;
