@font-face {
  font-family: "Oswald";
  src: 
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin or {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-break: 18px;
  font-weight: 500;
  color: #000000;
}

@mixin om {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-break: 18px;
  font-weight: 700;
  color: #000000;
}

@mixin a {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
